body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: black;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

#camera {
    width: calc(100vw - 120px);
    height: calc(100% - 350px);
    object-fit: cover;
    position: fixed;
    top: 80px;
}

#startButton {
    z-index: 10;
    padding: 15px 30px;
    font-size: 24px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #f3f3f3;
}

#textArea {
    position: absolute;
    top: calc(100vh - 250px);
    width: 100%;
    text-align: center;
    color: black;
    font-size: 28px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

#textArea hr {
    width: 70%;
    margin: 10px auto; /* 中央に配置 */
}